* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: rgb(70, 9, 127);
  color: rgb(255, 255, 255);
  padding: 20px;
  text-align: center;
}

/* Header Styles */
header {
  margin-bottom: 45px;
}

h1 {
  margin-bottom: 25px;
}

/* Section Styles */
section {
  background: rgb(86, 13, 154);
  padding: 20px;
  margin: 20px auto;
  border-radius: 15px;
  max-width: 100%;
  box-shadow: 0 10px 10px rgba(2, 0, 0, 0.1);
}

/* Button Styles  */
button {
  margin: 10px 5px 0 0;
  padding: 8px 12px;
  border: none;
  background: blueviolet;
  color: white;
  border-radius: 25px;
  cursor: pointer;
}

button:hover {
  opacity: 0.2;
}

/* Input Styles */

input {
  padding: 8px;
  margin: 5px 0 12px 0;
  border: 1px solid #ccc;
  border-radius: 12px;
}

/* List Styles */
ul {
  list-style: square;
  margin-top: 15px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

/* Completed Task Styles */
.completed {
  text-decoration: line-through;
  color: gray;
}

/* Dark Mode */

.dark {
  background: #1a191a;
  color: white;
}

.dark section {
  background: #1e1e1e;
  border-radius: 12px;
  background-origin: padding-box;
}

.dark input {
  background: rgb(168, 162, 162);
  color: rgb(168, 162, 162);
  border: none;
}
